<pre>
<img align="center" width="300" src="https://raw.githubusercontent.com/andrelmfsantos/ppga/master/logo%20uninove.png">
</pre>

<pre>
<img align="center" width="150" src="https://camo.githubusercontent.com/bdc6a3b8963aa99ff57dfd6e1e4b937bd2e752bcb1f1936f90368e5c3a38f670/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c6963656e73652d434325323042592d2d5341253230342e302d6c69676874677265792e737667">
</pre>

<h1 style="text-align:center;">Bibliometria (Análise Descritiva) com Julia Language Programming</h1>

|                 |              |
|:----------------|:-------------|
|**Universidade:**| Nove de Julho|
|**Programa:**    | PPGI - Programa de Pós Graduação em Informática |
|**Disciplina:**  | Computação Científica com Julia|
|**Professor:**   | José E. Storopoli|
|**Aluno:**       | André L.M.F.Santos|

In [ ]:
#using Pkg
#Pkg.add("CSV"); Pkg.add("DataFrames"); Pkg.add("HTTP"); Pkg.add("Plots"); Pkg.add("PyPlot"); Pkg.add("StatsPlots"); Pkg.add("Distributions")

In [1]:
# Usar pacotes
using DataFrames, HTTP, CSV, Dates, Statistics, Plots, StatsPlots, Distributions

In [2]:
# Ler arquivo csv no github
#using DataFrames, HTTP, CSV
resp = HTTP.request("GET", "https://raw.githubusercontent.com/andrelmfsantos/df/main/savedrecs1.csv?accessType=DOWNLOAD")
df = CSV.read(IOBuffer(String(resp.body)), DataFrame);
first(df,5)

5×42 DataFrame
 Row │ Column1                            AU                    TI             ⋯
     │ String                             String                String         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ THOMPSON DR, 2015, J ADV NURS      THOMPSON DR;CLARK AM  MEASURING RESE ⋯
   2 │ KHOR KA, 2015, J THERM SPRAY TEC…  KHOR KA;YU LG         GLOBAL RESEARC
   3 │ WILLIAMS DE, 2015, J ACAD LIBRAR…  WILLIAMS DE           MEANINGFUL MET
   4 │ YAN S, 2015, SCIENTOMETRICS        YAN S;SUN J           ASSESSING CHIN
   5 │ COOPER ID, 2015, J MED LIBR ASSOC  COOPER ID             BIBLIOMETRICS  ⋯
                                                              40 columns omitted

In [3]:
# Articles: total number of manuscripts
println("Manuscripts = ", nrow(df))

Manuscripts = 291

In [82]:
# Years: publication year of each manuscript
Manuscript_By_Year = combine(groupby(df, :PY), nrow)
Manuscript_By_Year = sort!(Manuscript_By_Year,:PY)
colnames = ["Year","Manuscripts"]
rename!(Manuscript_By_Year, Symbol.(colnames))

31×2 DataFrame
 Row │ Year   Manuscripts
     │ Int64  Int64
─────┼────────────────────
   1 │  1985            4
   2 │  1986            3
   3 │  1987            6
   4 │  1988            7
   5 │  1989            8
   6 │  1990            6
   7 │  1991            7
   8 │  1992            6
   9 │  1993            5
  10 │  1994            7
  11 │  1995            1
  ⋮  │   ⋮         ⋮
  22 │  2006            5
  23 │  2007            5
  24 │  2008            8
  25 │  2009           14
  26 │  2010           17
  27 │  2011           20
  28 │  2012           25
  29 │  2013           21
  30 │  2014           29
  31 │  2015           32
           10 rows omitted

In [83]:
# Average publications per year
round(mean(Manuscript_By_Year.Manuscripts); digits = 2)

9.39

In [84]:
# Sources (Journals, Books, etc)
Source = combine(groupby(df, :SO), nrow)
Source = sort!(Source,:nrow, rev = true)
colnames = ["Source","Manuscripts"]
rename!(Source, Symbol.(colnames))

141×2 DataFrame
 Row │ Source                             Manuscripts
     │ String                             Int64
─────┼────────────────────────────────────────────────
   1 │ SCIENTOMETRICS                              49
   2 │ JOURNAL OF THE AMERICAN SOCIETY …           14
   3 │ JOURNAL OF THE AMERICAN SOCIETY …            8
   4 │ JOURNAL OF INFORMETRICS                      6
   5 │ JOURNAL OF DOCUMENTATION                     6
   6 │ JOURNAL OF INFORMATION SCIENCE               6
   7 │ TECHNOLOGICAL FORECASTING AND SO…            5
   8 │ BRITISH JOURNAL OF ANAESTHESIA               5
   9 │ SOCIAL WORK IN HEALTH CARE                   5
  10 │ LIBRI                                        5
  11 │ LIBRARY \\& INFORMATION SCIENCE …            4
  ⋮  │                 ⋮                       ⋮
 132 │ CLINICAL CHEMISTRY                           1
 133 │ ANALUSIS                                     1
 134 │ PHYSICS WORLD                                1
 135 │ ANNALS OF MEDICINE                           1
 136 │ COMMUNICATION AND COGNITION                  1
 137 │ INFORMATION TECHNOLOGY AND LIBRA…            1
 138 │ EDUCATION FOR INFORMATION                    1
 139 │ INTERNATIONAL LIBRARY REVIEW                 1
 140 │ NAUCHNO-TEKHNICHESKAYA INFORMATS…            1
 141 │ SPECIAL LIBRARIES                            1
                                      120 rows omitted

In [85]:
# Document Types: publications by kind of document
Document_Types = combine(groupby(df, :DT), nrow)
Document_Types = sort!(Document_Types,:nrow, rev = true)
colnames = ["Document Types","Total"]
Document_Types = rename!(Document_Types, Symbol.(colnames))

11×2 DataFrame
 Row │ Document Types              Total
     │ String31                    Int64
─────┼───────────────────────────────────
   1 │ ARTICLE                       160
   2 │ EDITORIAL MATERIAL             41
   3 │ BOOK REVIEW                    32
   4 │ REVIEW                         25
   5 │ LETTER                         16
   6 │ ARTICLE, PROCEEDINGS PAPER      7
   7 │ MEETING ABSTRACT                4
   8 │ NOTE                            3
   9 │ ART EXHIBIT REVIEW              1
  10 │ BIOGRAPHICAL-ITEM               1
  11 │ CORRECTION, ADDITION            1

In [86]:
# Author by groups
AU_Group = combine(groupby(df, :AU), nrow)
AU_Group = sort!(AU_Group,:nrow, rev = true)
colnames = ["Authors","Manuscripts"]
AU_Group = rename!(AU_Group, Symbol.(colnames))

263×2 DataFrame
 Row │ Authors                        Manuscripts
     │ String                         Int64
─────┼────────────────────────────────────────────
   1 │ ATKINSON R                               3
   2 │ WHITE HD                                 3
   3 │ HOLDEN G;ROSENBERG G;BARKER K            3
   4 │ CRONIN B                                 3
   5 │ BROADUS RN                               3
   6 │ ZITT M                                   2
   7 │ BORNMANN L;MARX W                        2
   8 │ PRATHAP G                                2
   9 │ ADAMS J                                  2
  10 │ BORNMANN L                               2
  11 │ MUNOZ-PEREZ F                            2
  ⋮  │               ⋮                     ⋮
 254 │ BRAUN T                                  1
 255 │ LINE MB                                  1
 256 │ SITARSKA A                               1
 257 │ WALLACE DP                               1
 258 │ SEN SK;KUNDRA R                          1
 259 │ PERSSON O                                1
 260 │ DEGLAS F                                 1
 261 │ IKPAAHINDI L                             1
 262 │ VOVERENE O                               1
 263 │ WHITE EC                                 1
                                  242 rows omitted

In [87]:
# Group of authors per document
round(mean(AU_Group.Manuscripts); digits = 2)

1.11

In [88]:
# Author per document
AU_Document = (split.(AU_Group.Authors,";"))
round(sum(length.(AU_Document))/nrow(AU_Group); digits = 2)

2.33

In [89]:
# Timespan
year_min = minimum(df.PY,dims=1)                              
year_max = maximum(df.PY,dims=1)                              
println("Timespan:\n","first year = ",year_min, "\nlast year = ",year_max)

Timespan:
first year = [1985]
last year = [2015]

In [90]:
# Average citation per documents
round(mean(df.TC); digits = 2)

11.73