In [1]:
using Pkg
Pkg.add("CSV")

    Updating registry at `~/.julia/registries/General.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [2]:
using Pkg
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [3]:
using CSV
using DataFrames

df = CSV.read("SUP_ALUNO_2019.CSV", DataFrame)

12350832×105 DataFrame
      Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_ ⋯
          │ Int64         Int64   Int64                        Int64           ⋯
──────────┼─────────────────────────────────────────────────────────────────────
        1 │         2019       1                            1                  ⋯
        2 │         2019       1                            1
        3 │         2019       1                            1
        4 │         2019       1                            1
        5 │         2019       1                            1                  ⋯
        6 │         2019       1                            1
        7 │         2019       1                            1
        8 │         2019       1                            1
        9 │         2019       1                            1                  ⋯
       10 │         2019       1                            1
       11 │         2019       1                            1
    ⋮     │      ⋮          ⋮                  ⋮                          ⋮    ⋱
 12350823 │         2019   24672                            2
 12350824 │         2019   24672                            2                  ⋯
 12350825 │         2019   24672                            2
 12350826 │         2019   24672                            2
 12350827 │         2019   24672                            2
 12350828 │         2019   24672                            2                  ⋯
 12350829 │         2019   24672                            2
 12350830 │         2019   24672                            2
 12350831 │         2019   24672                            2
 12350832 │         2019   24672                            2                  ⋯
                                           102 columns and 12350811 rows omitted

In [ ]:
# modifying the content of myfile.csv using write method
CSV.write("sup_aluno_2019.csv", df)