In [1]:
using Pkg
Pkg.add("CSV")

    Updating registry at `~/.julia/registries/General.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [2]:
using Pkg
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [3]:
using CSV
using DataFrames

df = CSV.read("SUP_ALUNO_2019.CSV", DataFrame)

12350832×105 DataFrame
      Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_ ⋯
          │ Int64         Int64   Int64                        Int64           ⋯
──────────┼─────────────────────────────────────────────────────────────────────
        1 │         2019       1                            1                  ⋯
        2 │         2019       1                            1
        3 │         2019       1                            1
        4 │         2019       1                            1
        5 │         2019       1                            1                  ⋯
        6 │         2019       1                            1
        7 │         2019       1                            1
        8 │         2019       1                            1
        9 │         2019       1                            1                  ⋯
       10 │         2019       1                            1
       11 │         2019       1                            1
    ⋮     │      ⋮          ⋮                  ⋮                          ⋮    ⋱
 12350823 │         2019   24672                            2
 12350824 │         2019   24672                            2                  ⋯
 12350825 │         2019   24672                            2
 12350826 │         2019   24672                            2
 12350827 │         2019   24672                            2
 12350828 │         2019   24672                            2                  ⋯
 12350829 │         2019   24672                            2
 12350830 │         2019   24672                            2
 12350831 │         2019   24672                            2
 12350832 │         2019   24672                            2                  ⋯
                                           102 columns and 12350811 rows omitted

In [5]:
df1 = first(df, 4000000)
df1

4000000×105 DataFrame
     Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_A ⋯
         │ Int64         Int64   Int64                        Int64            ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │         2019       1                            1                   ⋯
       2 │         2019       1                            1
       3 │         2019       1                            1
       4 │         2019       1                            1
       5 │         2019       1                            1                   ⋯
       6 │         2019       1                            1
       7 │         2019       1                            1
       8 │         2019       1                            1
       9 │         2019       1                            1                   ⋯
      10 │         2019       1                            1
      11 │         2019       1                            1
    ⋮    │      ⋮          ⋮                  ⋮                          ⋮     ⋱
 3999991 │         2019     387                            5
 3999992 │         2019     387                            5                   ⋯
 3999993 │         2019     387                            5
 3999994 │         2019     387                            5
 3999995 │         2019     387                            5
 3999996 │         2019     387                            5                   ⋯
 3999997 │         2019     387                            5
 3999998 │         2019     387                            5
 3999999 │         2019     387                            5
 4000000 │         2019     387                            5                   ⋯
                                            102 columns and 3999979 rows omitted

In [7]:
df2 = df[4000000:8000000, :]
df2

4000001×105 DataFrame
     Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_A ⋯
         │ Int64         Int64   Int64                        Int64            ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │         2019     387                            5                   ⋯
       2 │         2019     387                            5
       3 │         2019     387                            5
       4 │         2019     387                            5
       5 │         2019     387                            5                   ⋯
       6 │         2019     387                            5
       7 │         2019     387                            5
       8 │         2019     387                            5
       9 │         2019     387                            5                   ⋯
      10 │         2019     387                            5
      11 │         2019     387                            5
    ⋮    │      ⋮          ⋮                  ⋮                          ⋮     ⋱
 3999992 │         2019    1270                            4
 3999993 │         2019    1270                            4                   ⋯
 3999994 │         2019    1270                            4
 3999995 │         2019    1270                            4
 3999996 │         2019    1270                            4
 3999997 │         2019    1270                            4                   ⋯
 3999998 │         2019    1270                            4
 3999999 │         2019    1270                            4
 4000000 │         2019    1270                            4
 4000001 │         2019    1270                            4                   ⋯
                                            102 columns and 3999980 rows omitted

In [10]:
df3 = df[8000000:end, :]
df3

4350833×105 DataFrame
     Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_A ⋯
         │ Int64         Int64   Int64                        Int64            ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │         2019    1270                            4                   ⋯
       2 │         2019    1270                            4
       3 │         2019    1270                            4
       4 │         2019    1270                            4
       5 │         2019    1270                            4                   ⋯
       6 │         2019    1270                            4
       7 │         2019    1270                            4
       8 │         2019    1270                            4
       9 │         2019    1270                            4                   ⋯
      10 │         2019    1270                            4
      11 │         2019    1270                            4
    ⋮    │      ⋮          ⋮                  ⋮                          ⋮     ⋱
 4350824 │         2019   24672                            2
 4350825 │         2019   24672                            2                   ⋯
 4350826 │         2019   24672                            2
 4350827 │         2019   24672                            2
 4350828 │         2019   24672                            2
 4350829 │         2019   24672                            2                   ⋯
 4350830 │         2019   24672                            2
 4350831 │         2019   24672                            2
 4350832 │         2019   24672                            2
 4350833 │         2019   24672                            2                   ⋯
                                            102 columns and 4350812 rows omitted

In [12]:
# modifying the content of myfile.csv using write method
CSV.write("sup_aluno_2019p3.csv", df3)

"sup_aluno_2019p3.csv"