In [1]:
using Pkg
Pkg.add("CSV")

    Updating registry at `~/.julia/registries/General.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [2]:
using Pkg
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [2]:
using CSV
using DataFrames

df = CSV.read("/media/andre/Seagate Expansion Drive/REDI/microdados_censo_educacao_superior/microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_ALUNO.CSV", DataFrame)

11589194×108 DataFrame
      Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_ ⋯
          │ Int64         Int64   Int64                        Int64           ⋯
──────────┼─────────────────────────────────────────────────────────────────────
        1 │         2017       1                            1                  ⋯
        2 │         2017       1                            1
        3 │         2017       1                            1
        4 │         2017       1                            1
        5 │         2017       1                            1                  ⋯
        6 │         2017       1                            1
        7 │         2017       1                            1
        8 │         2017       1                            1
        9 │         2017       1                            1                  ⋯
       10 │         2017       1                            1
       11 │         2017       1                            1
    ⋮     │      ⋮          ⋮                  ⋮                          ⋮    ⋱
 11589185 │         2017   22939                            2
 11589186 │         2017   22939                            2                  ⋯
 11589187 │         2017   22939                            2
 11589188 │         2017   22939                            2
 11589189 │         2017   22939                            2
 11589190 │         2017   22939                            2                  ⋯
 11589191 │         2017   22939                            2
 11589192 │         2017   22939                            2
 11589193 │         2017   22939                            2
 11589194 │         2017   22939                            2                  ⋯
                                           105 columns and 11589173 rows omitted

In [3]:
df1 = first(df, 4000000)
df1

4000000×108 DataFrame
     Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_A ⋯
         │ Int64         Int64   Int64                        Int64            ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │         2017       1                            1                   ⋯
       2 │         2017       1                            1
       3 │         2017       1                            1
       4 │         2017       1                            1
       5 │         2017       1                            1                   ⋯
       6 │         2017       1                            1
       7 │         2017       1                            1
       8 │         2017       1                            1
       9 │         2017       1                            1                   ⋯
      10 │         2017       1                            1
      11 │         2017       1                            1
    ⋮    │      ⋮          ⋮                  ⋮                          ⋮     ⋱
 3999991 │         2017     417                            4
 3999992 │         2017     417                            4                   ⋯
 3999993 │         2017     417                            4
 3999994 │         2017     417                            4
 3999995 │         2017     417                            4
 3999996 │         2017     417                            4                   ⋯
 3999997 │         2017     417                            4
 3999998 │         2017     417                            4
 3999999 │         2017     417                            4
 4000000 │         2017     417                            4                   ⋯
                                            105 columns and 3999979 rows omitted

In [6]:
df2 = df[4000001:8000000, :]
df2

4000000×105 DataFrame
     Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_A ⋯
         │ Int64         Int64   Int64                        Int64            ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │         2019     387                            5                   ⋯
       2 │         2019     387                            5
       3 │         2019     387                            5
       4 │         2019     387                            5
       5 │         2019     387                            5                   ⋯
       6 │         2019     387                            5
       7 │         2019     387                            5
       8 │         2019     387                            5
       9 │         2019     387                            5                   ⋯
      10 │         2019     387                            5
      11 │         2019     387                            5
    ⋮    │      ⋮          ⋮                  ⋮                          ⋮     ⋱
 3999991 │         2019    1270                            4
 3999992 │         2019    1270                            4                   ⋯
 3999993 │         2019    1270                            4
 3999994 │         2019    1270                            4
 3999995 │         2019    1270                            4
 3999996 │         2019    1270                            4                   ⋯
 3999997 │         2019    1270                            4
 3999998 │         2019    1270                            4
 3999999 │         2019    1270                            4
 4000000 │         2019    1270                            4                   ⋯
                                            102 columns and 3999979 rows omitted

In [8]:
df3 = df[8000001:end, :]
df3

4350832×105 DataFrame
     Row │ NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  TP_ORGANIZACAO_A ⋯
         │ Int64         Int64   Int64                        Int64            ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │         2019    1270                            4                   ⋯
       2 │         2019    1270                            4
       3 │         2019    1270                            4
       4 │         2019    1270                            4
       5 │         2019    1270                            4                   ⋯
       6 │         2019    1270                            4
       7 │         2019    1270                            4
       8 │         2019    1270                            4
       9 │         2019    1270                            4                   ⋯
      10 │         2019    1270                            4
      11 │         2019    1270                            4
    ⋮    │      ⋮          ⋮                  ⋮                          ⋮     ⋱
 4350823 │         2019   24672                            2
 4350824 │         2019   24672                            2                   ⋯
 4350825 │         2019   24672                            2
 4350826 │         2019   24672                            2
 4350827 │         2019   24672                            2
 4350828 │         2019   24672                            2                   ⋯
 4350829 │         2019   24672                            2
 4350830 │         2019   24672                            2
 4350831 │         2019   24672                            2
 4350832 │         2019   24672                            2                   ⋯
                                            102 columns and 4350811 rows omitted

In [4]:
# modifying the content of myfile.csv using write method
CSV.write("/media/andre/Seagate Expansion Drive/REDI/sup_aluno_2017p1.csv", df1)

"/media/andre/Seagate Expansion Drive/REDI/sup_aluno_2017p1.csv"